<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @revist.nombre %>
</p>
<% if current_user.admi?%>
  <%= link_to 'Edit', edit_revist_path(@revist) %> |
<%end%>
<br>
  <%= link_to 'Back', revists_path %>
